<h1>My Favorite Games</h1>

{{!-- game cover --}}
<img src="https://www.nintendo.com/content/dam/noa/en_US/games/switch/s/super-smash-bros-ultimate-switch/super-smash-bros-ultimate-switch-hero.jpg" alt="Super Smash">

{{!-- company --}}
<h2>Company Name</h2>
<h5>Nintendo</h5>

{{!-- ratings --}}
<h2> Game Rating</h2>
<p>93% Rating</p>