<h1>My Favorite Games</h1>

{{!-- game cover --}}
<img src="{{ cover }}" alt="{{ company }}">

{{!-- company --}}
<h2>Company Name</h2>
<h5>{{ company }}</h5>

{{!-- ratings --}}
<h2> Game Rating</h2>
<p>{{ rating }}</p>
